@tailwind base;
@tailwind components;
@tailwind utilities;

/* Headlines: Scope One */
.headline-scope {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

